<!DOCTYPE html>
<html lang="en" ng-app="app" data-framework="firebase">
<head>
	<meta charset="UTF-8">
	<title>angular doc</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<!-- Latest compiled and minified JavaScript -->

</head>
<body ng-controller="toDoCtrl">
<div class="container">
<nav class="navbar navbar-inverse">

<div>
  <input type="text" class="form-control" ng-model="searchText.name"  placeholder="search name">
</div>
</nav>

	
	<div>
	<label>
    <input type="radio" ng-model="model.todos.foolday" value="todoCl">
    todo
  </label>
  <label>
    <input type="radio" ng-model="model.todos.foolday" value="inprogress">
    in progress
  </label>
  <label>
    <input type="radio" ng-model="model.todos.foolday" value="partdone">   
    part done
  </label>
  
    <label>
    <input type="radio" ng-model="model.todos.foolday" >   
    No filter
  </label>
</div>
	<div class="row">
	<div ng-class="showme ? 'col-sm-6' : 'col-sm-12' ">


	<table-dir todos="model.todos"></table-dir>

<button class="btn btn-warn" ng-click="showMore()" ng-disabled="end"> Show <i class="glyphicon glyphicon-chevron-down"></i> More</button>
	<button class="btn btn-warning" ng-click="showme=true" ng-click="reset()"> <i class="glyphicon glyphicon-plus "></i> Add new</button>
</br>
</div>

<div class="col-sm-6">

<form-dir todos="model.todos"></form-dir>

</div>



</div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>

<!--<script type="text/javascript" src="bundle.js"></script>-->

<script type="text/javascript" src="/js/module/module.js"></script>
<script type="text/javascript" src="/js/controller/controller.js"></script>
<script type="text/javascript" src="/js/directive/table-dir.js"></script>
<script type="text/javascript" src="/js/directive/form-dir.js"></script>


</body>
</html>