.comment
{
	border: solid black 1px;
}

.todoCl
{
	background-color: red;
}
.inprogress
{
	background-color: blue;
}
.partdone
{
	background-color: yellow;
}
body {
	text-align: center
}
th {
	text-align: center;
}

input {
	margin-bottom: 20px;
}