

<table class="table table-stripped">
		<tr>
			<th>
				<a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
					Name
					<i ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-arrow-up"></i>
					<i ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-arrow-down"></i>
				</a>
			</th>
			<th>Deadline Date</th>
			<th></th>
		</tr>
		<tr ng-repeat="todo in model.todos|filter:searchText| filter: model.todos.foolday |orderBy:sortType:!sortReverse" ng-class= "todo.foolday"  track by $index">



			<td>{{todo.name}}
			<p class="comment" ng-show="todo.foolday==='partdone'">  {{todo.comment}}</p>
			</td>
			<td>{{todo.date }}</td>			
			<td>
				<button class="btn btn-primary" ng-click="edit(todo)"  >Edit</button> 
				<button class="btn btn-error" ng-click="remove(todo)">Delete</button>

			</td>
		</tr>
	</table>

<button class="btn btn-warn" ng-click="showMore()" ng-disabled="end">Show More</button>


