

<table class="table table-stripped  ">
		<tr>
			<th>
				<a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
					Name
					<i ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-arrow-up"></i>
					<i ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-arrow-down"></i>
				</a>
			</th>
			<th>Deadline Date</th>
			<th>Controls</th>
		</tr>
		<tr ng-repeat="todo in model.todos|filter:searchText| filter: model.todos.foolday |orderBy:sortType:!sortReverse" ng-class= "todo.foolday"  track by $index">



			<td>{{todo.name}}
			<div class="comment" ng-show="todo.foolday==='partdone'"><div class="well well-xs">{{todo.comment}}</div> </div>
			</td>
			<td>{{todo.date }}</td>			
			<td>
				<button class="btn btn-success" ng-click="edit(todo)" ><i class="glyphicon glyphicon-pencil"></i></button> 
				<button class="btn btn-danger" ng-click="remove(todo)"><i class="glyphicon glyphicon-trash"></i></button>

			</td>
		</tr>
	</table>




