
label 
{
margin-right: 20px;
}
.navbar
{
color: white;
font-size: 20px;
}
.filters {
	float: left;
}

tr:hover
{
	opacity: 0.5;
}
.todoCl
{
	background-color: #FFFF99;
}
.inprogress
{
	background-color: #99CCFF;
}
.partdone
{
	background-color: #FF9999;
}
body {
	text-align: center
}
th {
	text-align: center;
}

input {
	margin-bottom: 20px;
}